.content_services {
	width: 100%;
	font-family: 'Quicksand', sans-serif;
}
.row_service {
	padding: 25px 0;
}
.row_service.one {
	/* 	background: url('../../images/ser1.jpg') no-repeat;
	background-size: cover; */
}
.row_service.two {
	background-color: #e2e2e2;
}

.content-service-g {
	justify-content: center;
	margin: auto;
	max-width: 1200px;
}

.services_all {
	display: flex;
}

.content {
	display: flex;
	margin: auto;
	max-width: 1200px;
	flex-direction: column;
	justify-content: center;
	text-align: center;
}

.wrapper_all {
	width: 45%;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: left;
	flex-direction: column;
}
.wrapper_two {
	width: 55%;
	display: flex;
	padding-left: 30px;
}

.wrapper_img img {
	width: 100%;
	padding: 0 5px;
}

.content-imagen {
	max-width: 300px;
}
.content-imagen img {
	width: 100%;
}

.content-swiper {
	justify-content: center;
	text-align: center;
	display: flex;
	background: #139af724;
	flex-direction: column;
	text-align: center;
	align-items: center;
	padding: 10px 14px 15px 14px;
	max-width: 270px;
	margin: 0 10px;
}

/* styles swiper */

.title-event {
	width: 100%;
	max-width: 1200px;
	margin: auto;
}
.title-event p {
	/* display: inline-block; */
	font-size: 25px;
	/* border-bottom: 2px solid #1299f6; */
	color: #1299f6;
	margin: 13px 0 32px 0;
	text-align: left;
	text-decoration: underline;
}

.detail-title {
	font-size: 60px;
	font-family: 'Montserrat', sans-serif;
	color: #525252;
	line-height: 64px;
	text-align: left;
	font-weight: 700;
}
.detail-price {
	padding: 5px 0 11px;
	font-weight: 500;
}

.breve {
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	width: 100%;
	font-weight: 400;
	padding-top: 10px;
}

.button-whatsapp {
	font-size: 31px;
	background-color: #1299f6;
	padding: 11px 46px;
	border: none;
	transition: 0.5s;
}
.button-whatsapp-disable {
	font-size: 20px;
	background-color: #a9a9a9;
	color: white;
	padding: 8px 17px;
	border: none;
	border-radius: 3px;
	transition: 0.5s;
}

.button-whatsapp a {
	text-decoration: none;
	color: white;
}

.button-whatsapp:hover {
	background-color: #0270b9;
}
.button-whatsapp:hover a {
	color: white;
}

.content-button {
	display: flex;
	padding-top: 30px;
	width: 100%;
}

.content-bt {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-left: 21px;
	font-size: 22px;
}

.content-button-disable-service {
	display: flex;
	justify-content: center;
	padding: 0 14px;
	padding-top: 12px;
}

.detail-ver {
	color: #7e7e7e;
	font-weight: 500;
	border-bottom: 1px solid #7e7e7e;
	margin-bottom: 1px;
	text-decoration: none;
}
.detail-ver:hover {
	color: #575656;
	border-bottom: 1px solid #575656;
}

.services_detail .swiper-container {
	padding-bottom: 35px;
}

/* end styles swiper */

@media (max-width: 1228px) {
	.services_detail {
		margin: 0 15px;
	}
	.breve {
		max-width: 280px;
	}
}
@media (max-width: 960px) {
	.content-all-swiper {
		margin: 0 20px;
	}
	.button-whatsapp-disable {
		font-size: 16px;
	}
}

@media (max-width: 768px) {
	.content-all-swiper {
		margin: 0;
	}
	.title-event p {
		font-size: 35px;
		margin: 22px 0 32px 0;
	}
	.breve {
		max-width: 249px;
	}
	.content-button {
		padding: 0 0;
		padding-top: 12px;
	}
}
@media (max-width: 600px) {
	.title-event p {
		font-size: 26px;
		margin: 16px 0 23px 0;
	}
	.content-all-swiper {
		padding: 0 10%;
		margin: 0;
	}
	.detail-title {
		font-size: 18px;
		padding: 4px 0px 5px;
	}
	.content-swiper {
		padding: 14px 14px;
	}
	.content-button {
		padding: 0 0px;
		padding-top: 8px;
	}
}

@media (max-width: 480px) {
	.content-all-swiper {
		padding: 0;
		margin: 0 15px;
	}
}
@media (max-width: 400px) {
	.title-event p {
		font-size: 26px;
		margin: 16px 0 23px 0;
	}
	.content-all-swiper {
		padding: 0 0%;
		margin: 0;
	}
	.detail-title {
		font-size: 18px;
		padding: 4px 0px 5px;
	}
	.content-swiper {
		padding: 14px 14px;
	}
	.content-button {
		padding: 0 0px;
		padding-top: 8px;
	}
}

@media (max-width: 320px) {
	.title-event p {
		font-size: 26px;
		margin: 16px 0 23px 0;
	}
	.content-all-swiper {
		margin: 0;
	}
	.detail-title {
		font-size: 18px;
		padding: 4px 0px 5px;
	}
	.content-swiper {
		padding: 14px 14px;
	}
}
